PROYECTO INDIVIDUAL NRO1

Importacion de librerias

In [185]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import ast
import re

Cargar el archivo csv

In [186]:
df_movies = pd.read_csv('Archivos csv\movies_dataset.csv')
df_movies.head()

C:\Users\Indatech\AppData\Local\Temp\ipykernel_7280\987443129.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movies = pd.read_csv('Archivos csv\movies_dataset.csv')

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

Buscamos ver un panorama general de los datos

In [187]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

Comenzamos a desanidar los campos solicitados

In [188]:
colum_name = r"'name': '([^']*)"
df_movies['collection_movies'] = df_movies['belongs_to_collection'].str.extract(colum_name, flags=re.IGNORECASE)

In [189]:
df_movies.collection_movies.nunique()

1644

In [190]:
df_movies [['belongs_to_collection','collection_movies']]

,belongs_to_collection,collection_movies
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",Toy Story Collection
1,NaN,NaN
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",Grumpy Old Men Collection
3,NaN,NaN
4,"{'id': 96871, 'name': 'Father of the Bride Col...",Father of the Bride Collection
...,...,...
45461,NaN,NaN
45462,NaN,NaN
45463,NaN,NaN
45464,NaN,NaN
45465,NaN,NaN

In [191]:
#Creamos una nueva columna para los registros duplicados
df_movies['belong_collection'] = df_movies['collection_movies'].str.split(', ')
#Terminamos de duplicar los registros
df_movies = df_movies.explode('belong_collection').reset_index(drop=True)
#Eliminamos la columna duplicada
df_movies.drop('collection_movies', axis=1, inplace=True)

In [192]:
df_movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,belong_collection
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection

In [193]:
#Convertimos en lista la columna genres
df_movies ['genres'] = df_movies['genres'].apply(ast.literal_eval)

#Aqui extraemos los nombres de los genres
def extract_genres_name(genres_list):
    genres_name = [genree['name'] for genree in genres_list]
    return', '.join(genres_name)
#aplicamos la funcion que hicimos
df_movies['genree'] = df_movies['genres'].apply(extract_genres_name)

df_movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,belong_collection,genree
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,"Animation, Comedy, Family"
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,"Adventure, Fantasy, Family"
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection,"Romance, Comedy"
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN,"Comedy, Drama, Romance"
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection,Comedy

In [194]:
production_name = r"'name': '([^']*)"
df_movies['production_companie'] = df_movies['production_companies'].str.extract(production_name, flags=re.IGNORECASE)
df_movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,belong_collection,genree,production_companie
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,"Animation, Comedy, Family",Pixar Animation Studios
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,"Adventure, Fantasy, Family",TriStar Pictures
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection,"Romance, Comedy",Warner Bros.
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN,"Comedy, Drama, Romance",Twentieth Century Fox Film Corporation
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection,Comedy,Sandollar Productions

In [195]:
language = r"'name': '([^']*)"
df_movies['spoken_language'] = df_movies['spoken_languages'].str.extract(language, flags=re.IGNORECASE)
df_movies.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,status,tagline,title,video,vote_average,vote_count,belong_collection,genree,production_companie,spoken_language
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection,"Animation, Comedy, Family",Pixar Animation Studios,English
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,"Adventure, Fantasy, Family",TriStar Pictures,English
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection,"Romance, Comedy",Warner Bros.,English
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN,"Comedy, Drama, Romance",Twentieth Century Fox Film Corporation,English
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection,Comedy,Sandollar Productions,English

In [196]:
countries_name = r"'name': '([^']*)"
df_movies['production_countries'] = df_movies['production_countries'].str.extract(countries_name, flags=re.IGNORECASE)
df_movies['production_countries']

0        United States of America
1        United States of America
2        United States of America
3        United States of America
4        United States of America
                   ...
45537                        Iran
45538                 Philippines
45539    United States of America
45540                      Russia
45541              United Kingdom
Name: production_countries, Length: 45542, dtype: object

In [197]:
#Empezamos a rellenar los valores nulos de las columnas revenue, budget con el nÃºmero 0
df_movies ['revenue'].fillna(0, inplace=True)
df_movies ['budget'].fillna(0, inplace= True)

print('Nulos en revenue', df_movies.revenue.isna().sum())
print('Nulos en budget', df_movies.budget.isna().sum())

Nulos en revenue 0
Nulos en budget 0

In [198]:
#Cambiamos el formato de fechas a AAAA-mm-dd
df_movies['release_date'] = pd.to_datetime(df_movies['release_date'], errors='coerce')
df_movies['release_date'] = pd.to_datetime(df_movies['release_date']).dt.strftime('%Y-%m-%d')
df_movies['release_date'].isnull().sum()

90

In [199]:
#Eliminamos los valores nulos del campo release date
df_movies = df_movies.dropna(subset= ['release_date'])
df_movies['release_date'].isnull().sum()

0

In [200]:
#creamos la columna release_year
df_movies['release_date'] = pd.to_datetime(df_movies['release_date'])
df_movies['release_year'] = df_movies['release_date'].dt.year
df_movies[['release_date', 'release_year']].head(10)

  release_date  release_year
0   1995-10-30          1995
1   1995-12-15          1995
2   1995-12-22          1995
3   1995-12-22          1995
4   1995-02-10          1995
5   1995-12-15          1995
6   1995-12-15          1995
7   1995-12-22          1995
8   1995-12-22          1995
9   1995-11-16          1995

In [201]:
#Creamos la columna con el retorno de inversiÃ³n (revenue/budget)
df_movies['revenue'] = pd.to_numeric(df_movies['revenue'], errors='coerce')
df_movies['budget'] = pd.to_numeric(df_movies['budget'], errors='coerce')

#Calculamos el retorno de la inversiÃ³n y los datos nulos los rellenamos con el nÃºmero 0
df_movies['return'] = df_movies['revenue'] / df_movies['budget']
df_movies['return'].fillna(0, inplace=True)
df_movies['return']

0        12.451801
1         4.043035
2         0.000000
3         5.090760
4              inf
           ...
45536     0.000000
45538     0.000000
45539     0.000000
45540     0.000000
45541     0.000000
Name: return, Length: 45452, dtype: float64

In [202]:
#Verificamos que no quedan datos nulos
df_movies['return'].isnull().sum()

0

In [203]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45452 entries, 0 to 45541
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45452 non-null  object
 1   belongs_to_collection  4564 non-null   object
 2   budget                 45452 non-null  int64
 3   genres                 45452 non-null  object
 4   homepage               7789 non-null   object
 5   id                     45452 non-null  object
 6   imdb_id                45438 non-null  object
 7   original_language      45441 non-null  object
 8   original_title         45452 non-null  object
 9   overview               44511 non-null  object
 10  popularity             45452 non-null  object
 11  poster_path            45113 non-null  object
 12  production_companies   45452 non-null  object
 13  production_countries   39231 non-null  object
 14  release_date           45452 non-null  datetime64[ns]
 15  revenue                45452 non-null  float64
 16  runtime                45206 non-null  float64
 17  spoken_languages       45452 non-null  object
 18  status                 45372 non-null  object
 19  tagline                20428 non-null  object
 20  title                  45452 non-null  object
 21  video                  45452 non-null  object
 22  vote_average           45452 non-null  float64
 23  vote_count             45452 non-null  float64
 24  belong_collection      4457 non-null   object
 25  genree                 45452 non-null  object
 26  production_companie    33576 non-null  object
 27  spoken_language        41680 non-null  object
 28  release_year           45452 non-null  int64
 29  return                 45452 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(22)
memory usage: 10.7+ MB

In [204]:
#Eliminamos las columnas solicitadas
df_movies.drop(columns=['video', 'imdb_id', 'adult', 'original_title', 'poster_path', 'homepage'], inplace=True)

In [205]:
df_movies.drop(columns=['belongs_to_collection', 'production_companies','genres','spoken_languages'], inplace=True)

In [206]:
df_movies.head()

,budget,id,original_language,overview,popularity,production_countries,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,belong_collection,genree,production_companie,spoken_language,release_year,return
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,United States of America,1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,7.7,5415.0,Toy Story Collection,"Animation, Comedy, Family",Pixar Animation Studios,English,1995,12.451801
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,United States of America,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,NaN,"Adventure, Fantasy, Family",TriStar Pictures,English,1995,4.043035
2,0,15602,en,A family wedding reignites the ancient feud be...,11.7129,United States of America,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,Grumpy Old Men Collection,"Romance, Comedy",Warner Bros.,English,1995,0.000000
3,16000000,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,United States of America,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,NaN,"Comedy, Drama, Romance",Twentieth Century Fox Film Corporation,English,1995,5.090760
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,United States of America,1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,Father of the Bride Collection,Comedy,Sandollar Productions,English,1995,inf

In [207]:
#Guardamos todo en un csv aparte
df_movies.to_csv('movies_terminado.csv', index=False)

In [276]:
import pandas as pd

In [208]:
#Concatenamos los dos csv ya terminados (movies y credits)
#Nombre de los archivos de entrada
archivo_entrada1 = 'movies_terminado.csv'
archivo_entrada2 = 'credits_terminado.csv'

#Nombre del archivo de salida
archivo_salida = 'dfconcatenado.csv'

#Leemos los archivos csv
dfmovies1 = pd.read_csv(archivo_entrada1)
dfcredits1 = pd.read_csv(archivo_entrada2)

#Concatenamos los archivos
df_concatenado = pd.merge(dfmovies1, dfcredits1, on='id')

#Guardamos el dataframe concatenado en un nuevo csv
df_concatenado.to_csv(archivo_salida, index=False)

In [209]:
df_concatenado.head()

,budget,id,original_language,overview,popularity,production_countries,release_date,revenue,runtime,status,...,vote_average,vote_count,belong_collection,genree,production_companie,spoken_language,release_year,return,castt,creww
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,United States of America,1995-10-30,373554033.0,81.0,Released,...,7.7,5415.0,Toy Story Collection,"Animation, Comedy, Family",Pixar Animation Studios,English,1995,12.451801,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...","John Lasseter, Joss Whedon, Andrew Stanton, Jo..."
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,United States of America,1995-12-15,262797249.0,104.0,Released,...,6.9,2413.0,NaN,"Adventure, Fantasy, Family",TriStar Pictures,English,1995,4.043035,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...","Larry J. Franco, Jonathan Hensleigh, James Hor..."
2,0,15602,en,A family wedding reignites the ancient feud be...,11.712900,United States of America,1995-12-22,0.0,101.0,Released,...,6.5,92.0,Grumpy Old Men Collection,"Romance, Comedy",Warner Bros.,English,1995,0.000000,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...","Howard Deutch, Mark Steven Johnson, Mark Steve..."
3,16000000,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,United States of America,1995-12-22,81452156.0,127.0,Released,...,6.1,34.0,NaN,"Comedy, Drama, Romance",Twentieth Century Fox Film Corporation,English,1995,5.090760,"Whitney Houston, Angela Bassett, Loretta Devin...","Forest Whitaker, Ronald Bass, Ronald Bass, Ezr..."
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,United States of America,1995-02-10,76578911.0,106.0,Released,...,5.7,173.0,Father of the Bride Collection,Comedy,Sandollar Productions,English,1995,inf,"Steve Martin, Diane Keaton, Martin Short, Kimb...","Alan Silvestri, Elliot Davis, Nancy Meyers, Na..."

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('dfconcatenado.csv')

In [3]:
df.head(5)

,budget,id,original_language,overview,popularity,production_countries,release_date,revenue,runtime,status,...,vote_average,vote_count,belong_collection,genree,production_companie,spoken_language,release_year,return,castt,creww
0,30000000,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,United States of America,1995-10-30,373554033.0,81.0,Released,...,7.7,5415.0,Toy Story Collection,"Animation, Comedy, Family",Pixar Animation Studios,English,1995,12.451801,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...","John Lasseter, Joss Whedon, Andrew Stanton, Jo..."
1,65000000,8844,en,When siblings Judy and Peter discover an encha...,17.015539,United States of America,1995-12-15,262797249.0,104.0,Released,...,6.9,2413.0,NaN,"Adventure, Fantasy, Family",TriStar Pictures,English,1995,4.043035,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...","Larry J. Franco, Jonathan Hensleigh, James Hor..."
2,0,15602,en,A family wedding reignites the ancient feud be...,11.712900,United States of America,1995-12-22,0.0,101.0,Released,...,6.5,92.0,Grumpy Old Men Collection,"Romance, Comedy",Warner Bros.,English,1995,0.000000,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...","Howard Deutch, Mark Steven Johnson, Mark Steve..."
3,16000000,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,United States of America,1995-12-22,81452156.0,127.0,Released,...,6.1,34.0,NaN,"Comedy, Drama, Romance",Twentieth Century Fox Film Corporation,English,1995,5.090760,"Whitney Houston, Angela Bassett, Loretta Devin...","Forest Whitaker, Ronald Bass, Ronald Bass, Ezr..."
4,0,11862,en,Just when George Banks has recovered from his ...,8.387519,United States of America,1995-02-10,76578911.0,106.0,Released,...,5.7,173.0,Father of the Bride Collection,Comedy,Sandollar Productions,English,1995,inf,"Steve Martin, Diane Keaton, Martin Short, Kimb...","Alan Silvestri, Elliot Davis, Nancy Meyers, Na..."

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45527 entries, 0 to 45526
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                45527 non-null  int64
 1   id                    45527 non-null  int64
 2   original_language     45516 non-null  object
 3   overview              44586 non-null  object
 4   popularity            45527 non-null  float64
 5   production_countries  39298 non-null  object
 6   release_date          45527 non-null  object
 7   revenue               45527 non-null  float64
 8   runtime               45281 non-null  float64
 9   status                45447 non-null  object
 10  tagline               20455 non-null  object
 11  title                 45527 non-null  object
 12  vote_average          45527 non-null  float64
 13  vote_count            45527 non-null  float64
 14  belong_collection     4466 non-null   object
 15  genree                43142 non-null  object
 16  production_companie   33630 non-null  object
 17  spoken_language       41528 non-null  object
 18  release_year          45527 non-null  int64
 19  return                45527 non-null  float64
 20  castt                 43173 non-null  object
 21  creww                 44802 non-null  object
dtypes: float64(6), int64(3), object(13)
memory usage: 7.6+ MB

In [233]:
# Eliminar las filas que contienen valores nulos
df = df.dropna(subset=['release_year'])

# Reemplazar los valores infinitos por NaN
df = df.replace([np.inf, -np.inf], np.nan)

In [6]:
df = df.dropna(subset=['runtime'])

df = df.replace([np.inf, -np.inf], np.nan)
df['runtime'].isnull().sum()

0

In [7]:
df['release_year'] = df['release_year'].astype(int)
df['release_date'] = pd.to_datetime(df['release_date'])
df['runtime'] = df['runtime'].astype(int)

FUNCIONES PARA LA API

In [4]:
def peliculas_idioma(idioma: str):
     # Contamos la cantidad de pelÃ­culas producidas en el idioma especificado
    cantidad = df['original_language'].value_counts()[idioma]
    #Retornamos la cantidad de pelÃ­culas producidas en el idioma especificado.
    return f"{cantidad} peliculas fueron estrenadas en idioma {idioma}"

In [5]:
peliculas_idioma('en')

'32298 peliculas fueron estrenadas en idioma en'

In [6]:
def peliculas_duracion(Pelicula):
    ## filtramos para buscar la pelÃ­cula especÃ­fica y obtener su duraciÃ³n y aÃ±o
    movies_title = df.loc[df['title'] == Pelicula]
    duracion = movies_title['runtime'].values[0]
    year = movies_title['release_year'].values[0]
    
    return f"La pelicula {Pelicula} tiene una duraciÃ³n de {duracion}min y fue estrenada en el AÃ±o: {year}"

In [7]:
peliculas_duracion('Jumanji')

'La pelicula Jumanji tiene una duraciÃ³n de 104.0min y fue estrenada en el AÃ±o: 1995'

In [8]:
def franquicia(Franquicia: str):
    # Filtramos para buscar las pelÃ­culas de la franquicia especÃ­fica y obtener la cantidad, la ganancia total y el promedio
    movies_collection = df.loc[df['belong_collection'] == Franquicia]
    cantidad = movies_collection.shape[0]
    ganancia_total = movies_collection['revenue'].sum()
    ganancia_promedio = movies_collection['revenue'].mean()
    
    return f"La franquicia {Franquicia} posee {cantidad} pelÃ­culas, con una ganancia total de {ganancia_total} y una ganancia promedio de {ganancia_promedio}"

In [9]:
franquicia('Toy Story Collection')

'La franquicia Toy Story Collection posee 3 pelÃ­culas, con una ganancia total de 1937890605.0 y una ganancia promedio de 645963535.0'

In [10]:
def peliculas_pais(Pais: str):
    #Filtramos las pelÃ­culas producidas en el paÃ­s especÃ­fico y obtenemos la cantidad de peliculas producidas
    countries = df.loc[df['production_countries'] == Pais]
    cantidad = countries.shape[0]

    return f"Se produjeron {cantidad} pelÃ­culas en el paÃ­s de {Pais}"

In [11]:
peliculas_pais('Germany')

'Se produjeron 1430 pelÃ­culas en el paÃ­s de Germany'

In [12]:
def productoras_exitosas(Productora: str):
    # Filtramos las pelÃ­culas de la productora y obtenemos la cantidad y la ganancia total
    production = df.loc[df['production_companie'] == Productora]
    cantidad = production.shape[0]
    ganancia_total = production['revenue'].sum()

    return f"La productora {Productora} ha tenido una recaudaciÃ³n total de {ganancia_total} y ha realizado {cantidad} pelÃ­culas"

In [13]:
productoras_exitosas('Warner Bros.')

'La productora Warner Bros. ha tenido una recaudaciÃ³n total de 12315745454.0 y ha realizado 759 pelÃ­culas'

In [21]:
def get_director(nombre_director):
    #Filtramos las peliculas dirigidas por el director
    director_names = df[df['creww'].str.contains(nombre_director, case=False, na=False)]

    if not director_names.empty:
       # Calculamos el Ã©xito del director a travÃ©s del retorno total
       return_total = director_names['return'].sum()
       
       #Obtenemos informaciÃ³n de cada pelicula dirigida por el director
       pelicula_dirigida = director_names[['title', 'release_date', 'return','budget','revenue']]



    return f'El director {nombre_director} ha tenido un Ã©xito medido por un retorno total de {return_total}'

In [22]:
get_director('John Lasseter')

"El director John Lasseter ha tenido un Ã©xito medido por un retorno total de inf. y                       title release_date     return     budget      revenue\n0                 Toy Story   1995-10-30  12.451801   30000000  373554033.0\n588    Beauty and the Beast   1991-11-13  15.094022   25000000  377350553.0\n2251           A Bug's Life   1998-11-25   3.027157  120000000  363258859.0\n3009            Toy Story 2   1999-10-30   5.526299   90000000  497366869.0\n4775         Monsters, Inc.   2001-11-01   4.894054  115000000  562816256.0\n...                     ...          ...        ...        ...          ...\n40976             Air Mater   2011-08-04   0.000000          0          0.0\n41398   Riley's First Date?   2015-11-03   0.000000          0          0.0\n41540                 Moana   2016-11-23   4.286896  150000000  643034466.0\n41686        Inner Workings   2016-11-23   0.000000          0          0.0\n43371                Cars 3   2017-06-15   2.000972  175000000  350170057.0\n\n[67 rows x 5 columns]"

In [4]:
def get_director(nombre_director):
    # Filtramos las pelÃ­culas dirigidas por el director
    director_names = df[df['creww'].str.contains(nombre_director, case=False, na=False)]
    
    if not director_names.empty:
        # Calculamos el Ã©xito del director a travÃ©s del retorno total
        return_total = director_names['return'].sum()
        
        # Obtenemos informaciÃ³n de cada pelÃ­cula dirigida por el director
        pelicula_dirigida = director_names[['title', 'release_date', 'return', 'budget', 'revenue']]
        
        # Creamos una lista de diccionarios con la informaciÃ³n de cada pelÃ­cula
        peliculas = []
        for _, row in pelicula_dirigida.iterrows():
            pelicula = {
                'title': row['title'],
                'release_date': row['release_date'],
                'return': row['return'],
                'budget': row['budget'],
                'revenue': row['revenue']
            }
            peliculas.append(pelicula)
        
        # Devolvemos la informaciÃ³n en un formato de lista de diccionarios
        return {
            'director': nombre_director,
            'success': return_total,
            'movies': peliculas
        }

    return f'El director {nombre_director} no ha dirigido ninguna pelÃ­cula en este conjunto de datos.'

In [5]:
get_director('John Lasseter')

{'director': 'John Lasseter',
 'success': inf,
 'movies': [{'title': 'Toy Story',
   'release_date': '1995-10-30',
   'return': 12.4518011,
   'budget': 30000000,
   'revenue': 373554033.0},
  {'title': 'Beauty and the Beast',
   'release_date': '1991-11-13',
   'return': 15.09402212,
   'budget': 25000000,
   'revenue': 377350553.0},
  {'title': "A Bug's Life",
   'release_date': '1998-11-25',
   'return': 3.027157158333333,
   'budget': 120000000,
   'revenue': 363258859.0},
  {'title': 'Toy Story 2',
   'release_date': '1999-10-30',
   'return': 5.526298544444445,
   'budget': 90000000,
   'revenue': 497366869.0},
  {'title': 'Monsters, Inc.',
   'release_date': '2001-11-01',
   'return': 4.8940544,
   'budget': 115000000,
   'revenue': 562816256.0},
  {'title': 'Monsters, Inc.',
   'release_date': '2001-11-01',
   'return': 4.8940544,
   'budget': 115000000,
   'revenue': 562816256.0},
  {'title': 'Finding Nemo',
   'release_date': '2003-05-30',
   'return': 10.003569531914891,
   'budget': 94000000,
   'revenue': 940335536.0},
  {'title': 'The Incredibles',
   'release_date': '2004-11-05',
   'return': 6.863501,
   'budget': 92000000,
   'revenue': 631442092.0},
  {'title': "Howl's Moving Castle",
   'release_date': '2004-11-19',
   'return': 9.779602291666668,
   'budget': 24000000,
   'revenue': 234710455.0},
  {'title': 'Luxo Jr.',
   'release_date': '1986-08-17',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Cars',
   'release_date': '2006-06-08',
   'return': 3.849859575,
   'budget': 120000000,
   'revenue': 461983149.0},
  {'title': 'Ratatouille',
   'release_date': '2007-06-22',
   'return': 4.15815212,
   'budget': 150000000,
   'revenue': 623722818.0},
  {'title': 'WALLÂ·E',
   'release_date': '2008-06-22',
   'return': 2.896177,
   'budget': 180000000,
   'revenue': 521311860.0},
  {'title': 'Bolt',
   'release_date': '2008-11-21',
   'return': 2.0665332933333334,
   'budget': 150000000,
   'revenue': 309979994.0},
  {'title': 'Up',
   'release_date': '2009-05-13',
   'return': 4.200566182857143,
   'budget': 175000000,
   'revenue': 735099082.0},
  {'title': 'Partly Cloudy',
   'release_date': '2009-05-28',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'The Princess and the Frog',
   'release_date': '2009-12-08',
   'return': 2.543293,
   'budget': 105000000,
   'revenue': 267045765.0},
  {'title': 'Toy Story 3',
   'release_date': '2010-06-16',
   'return': 5.334848515,
   'budget': 200000000,
   'revenue': 1066969703.0},
  {'title': 'Tangled',
   'release_date': '2010-11-24',
   'return': 2.2761343692307694,
   'budget': 260000000,
   'revenue': 591794936.0},
  {'title': 'Cars 2',
   'release_date': '2011-06-11',
   'return': 2.79926198,
   'budget': 200000000,
   'revenue': 559852396.0},
  {'title': 'John Carter',
   'release_date': '2012-03-07',
   'return': 1.0928426923076924,
   'budget': 260000000,
   'revenue': 284139100.0},
  {'title': 'The Ballad of Nessie',
   'release_date': '2011-04-13',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Presto',
   'release_date': '2008-06-18',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Jack-Jack Attack',
   'release_date': '2004-12-31',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'One Man Band',
   'release_date': '2005-06-21',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Tin Toy',
   'release_date': '1988-08-01',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': "Red's Dream",
   'release_date': '1987-08-17',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': "Geri's Game",
   'release_date': '1997-11-24',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Knick Knack',
   'release_date': '1989-01-01',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Wreck-It Ralph',
   'release_date': '2012-11-01',
   'return': 2.855896296969697,
   'budget': 165000000,
   'revenue': 471222889.0},
  {'title': 'Paperman',
   'release_date': '2012-11-02',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Monsters University',
   'release_date': '2013-06-20',
   'return': 3.717798035,
   'budget': 200000000,
   'revenue': 743559607.0},
  {'title': 'Monsters University',
   'release_date': '2013-06-20',
   'return': 3.717798035,
   'budget': 200000000,
   'revenue': 743559607.0},
  {'title': 'Toy Story of Terror!',
   'release_date': '2013-10-15',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Frozen',
   'release_date': '2013-11-27',
   'return': 8.494793393333333,
   'budget': 150000000,
   'revenue': 1274219009.0},
  {'title': 'La luna',
   'release_date': '2011-01-01',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Mater and the Ghostlight',
   'release_date': '2006-07-27',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Tangled Ever After',
   'release_date': '2012-01-13',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Planes: Fire & Rescue',
   'release_date': '2014-07-17',
   'return': 3.02331574,
   'budget': 50000000,
   'revenue': 151165787.0},
  {'title': 'Big Hero 6',
   'release_date': '2014-10-24',
   'return': 3.9521542,
   'budget': 165000000,
   'revenue': 652105443.0},
  {'title': 'Small Fry',
   'release_date': '2011-11-23',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Secret of the Wings',
   'release_date': '2012-08-17',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Tinker Bell and the Lost Treasure',
   'release_date': '2009-09-03',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Partysaurus Rex',
   'release_date': '2012-09-14',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': "The Legend of Mor'du",
   'release_date': '2012-01-01',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Get a Horse!',
   'release_date': '2013-11-27',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Frozen Fever',
   'release_date': '2015-03-09',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Tinker Bell and the Legend of the NeverBeast',
   'release_date': '2014-12-12',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Tinker Bell and the Pirate Fairy',
   'release_date': '2014-02-13',
   'return': inf,
   'budget': 0,
   'revenue': 20300000.0},
  {'title': 'Tinker Bell and the Great Fairy Rescue',
   'release_date': '2010-08-13',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Tinker Bell',
   'release_date': '2008-10-27',
   'return': 0.0,
   'budget': 48000000,
   'revenue': 0.0},
  {'title': 'Inside Out',
   'release_date': '2015-06-09',
   'return': 4.90063528,
   'budget': 175000000,
   'revenue': 857611174.0},
  {'title': 'The Good Dinosaur',
   'release_date': '2015-11-14',
   'return': 1.89672084,
   'budget': 175000000,
   'revenue': 331926147.0},
  {'title': 'Prep & Landing',
   'release_date': '2009-12-24',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Feast',
   'release_date': '2014-11-07',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Lava',
   'release_date': '2015-06-21',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': "Sanjay's Super Team",
   'release_date': '2015-11-25',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Zootopia',
   'release_date': '2016-02-11',
   'return': 6.825227966666667,
   'budget': 150000000,
   'revenue': 1023784195.0},
  {'title': 'Finding Dory',
   'release_date': '2016-06-16',
   'return': 5.142854445,
   'budget': 200000000,
   'revenue': 1028570889.0},
  {'title': 'Piper',
   'release_date': '2016-06-16',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'How to Hook Up Your Home Theater',
   'release_date': '2007-12-21',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Tick Tock Tale',
   'release_date': '2010-06-10',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Air Mater',
   'release_date': '2011-08-04',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': "Riley's First Date?",
   'release_date': '2015-11-03',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Moana',
   'release_date': '2016-11-23',
   'return': 4.28689644,
   'budget': 150000000,
   'revenue': 643034466.0},
  {'title': 'Inner Workings',
   'release_date': '2016-11-23',
   'return': 0.0,
   'budget': 0,
   'revenue': 0.0},
  {'title': 'Cars 3',
   'release_date': '2017-06-15',
   'return': 2.000971754285714,
   'budget': 175000000,
   'revenue': 350170057.0}]}

In [9]:
def get_director(nombre_director: str):
    nombre_director = nombre_director.lower()  ##Para ignorar mayusculas y minusculas
    # Relleno los valores NaN en las columnas relevantes con valores adecuados para que no largue error
    df['creww'] = df['creww'].fillna('')
    df['return'] = df['return'].fillna(0)
    # Obtenemos el Ã©xito del director, detalles de las pelÃ­culas, costo y ganancia
    director_names = df[df['creww'].str.contains(nombre_director, case=False)]
    return_total = director_names['return'].sum()
    peliculas = []

    for _, row in director_names.iterrows():
        titulo = row['title']
        fecha_lanzamiento = row['release_date']
        retorno = row['return']
        costo = row['budget']
        ganancia = row['revenue']
        peliculas.append({
            'TÃ­tulo': titulo,
            'Fecha de lanzamiento': fecha_lanzamiento,
            'Retorno Total': retorno,
            'Costo': costo,
            'Ganancia': ganancia
        })

    return {
        'Ã‰xito': return_total,
        'PelÃ­culas': peliculas
    }

In [10]:
get_director('John Lasseter')

{'Ã‰xito': inf,
 'PelÃ­culas': [{'TÃ­tulo': 'Toy Story',
   'Fecha de lanzamiento': '1995-10-30',
   'Retorno Total': 12.4518011,
   'Costo': 30000000,
   'Ganancia': 373554033.0},
  {'TÃ­tulo': 'Beauty and the Beast',
   'Fecha de lanzamiento': '1991-11-13',
   'Retorno Total': 15.09402212,
   'Costo': 25000000,
   'Ganancia': 377350553.0},
  {'TÃ­tulo': "A Bug's Life",
   'Fecha de lanzamiento': '1998-11-25',
   'Retorno Total': 3.027157158333333,
   'Costo': 120000000,
   'Ganancia': 363258859.0},
  {'TÃ­tulo': 'Toy Story 2',
   'Fecha de lanzamiento': '1999-10-30',
   'Retorno Total': 5.526298544444445,
   'Costo': 90000000,
   'Ganancia': 497366869.0},
  {'TÃ­tulo': 'Monsters, Inc.',
   'Fecha de lanzamiento': '2001-11-01',
   'Retorno Total': 4.8940544,
   'Costo': 115000000,
   'Ganancia': 562816256.0},
  {'TÃ­tulo': 'Monsters, Inc.',
   'Fecha de lanzamiento': '2001-11-01',
   'Retorno Total': 4.8940544,
   'Costo': 115000000,
   'Ganancia': 562816256.0},
  {'TÃ­tulo': 'Finding Nemo',
   'Fecha de lanzamiento': '2003-05-30',
   'Retorno Total': 10.003569531914891,
   'Costo': 94000000,
   'Ganancia': 940335536.0},
  {'TÃ­tulo': 'The Incredibles',
   'Fecha de lanzamiento': '2004-11-05',
   'Retorno Total': 6.863501,
   'Costo': 92000000,
   'Ganancia': 631442092.0},
  {'TÃ­tulo': "Howl's Moving Castle",
   'Fecha de lanzamiento': '2004-11-19',
   'Retorno Total': 9.779602291666668,
   'Costo': 24000000,
   'Ganancia': 234710455.0},
  {'TÃ­tulo': 'Luxo Jr.',
   'Fecha de lanzamiento': '1986-08-17',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Cars',
   'Fecha de lanzamiento': '2006-06-08',
   'Retorno Total': 3.849859575,
   'Costo': 120000000,
   'Ganancia': 461983149.0},
  {'TÃ­tulo': 'Ratatouille',
   'Fecha de lanzamiento': '2007-06-22',
   'Retorno Total': 4.15815212,
   'Costo': 150000000,
   'Ganancia': 623722818.0},
  {'TÃ­tulo': 'WALLÂ·E',
   'Fecha de lanzamiento': '2008-06-22',
   'Retorno Total': 2.896177,
   'Costo': 180000000,
   'Ganancia': 521311860.0},
  {'TÃ­tulo': 'Bolt',
   'Fecha de lanzamiento': '2008-11-21',
   'Retorno Total': 2.0665332933333334,
   'Costo': 150000000,
   'Ganancia': 309979994.0},
  {'TÃ­tulo': 'Up',
   'Fecha de lanzamiento': '2009-05-13',
   'Retorno Total': 4.200566182857143,
   'Costo': 175000000,
   'Ganancia': 735099082.0},
  {'TÃ­tulo': 'Partly Cloudy',
   'Fecha de lanzamiento': '2009-05-28',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'The Princess and the Frog',
   'Fecha de lanzamiento': '2009-12-08',
   'Retorno Total': 2.543293,
   'Costo': 105000000,
   'Ganancia': 267045765.0},
  {'TÃ­tulo': 'Toy Story 3',
   'Fecha de lanzamiento': '2010-06-16',
   'Retorno Total': 5.334848515,
   'Costo': 200000000,
   'Ganancia': 1066969703.0},
  {'TÃ­tulo': 'Tangled',
   'Fecha de lanzamiento': '2010-11-24',
   'Retorno Total': 2.2761343692307694,
   'Costo': 260000000,
   'Ganancia': 591794936.0},
  {'TÃ­tulo': 'Cars 2',
   'Fecha de lanzamiento': '2011-06-11',
   'Retorno Total': 2.79926198,
   'Costo': 200000000,
   'Ganancia': 559852396.0},
  {'TÃ­tulo': 'John Carter',
   'Fecha de lanzamiento': '2012-03-07',
   'Retorno Total': 1.0928426923076924,
   'Costo': 260000000,
   'Ganancia': 284139100.0},
  {'TÃ­tulo': 'The Ballad of Nessie',
   'Fecha de lanzamiento': '2011-04-13',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Presto',
   'Fecha de lanzamiento': '2008-06-18',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Jack-Jack Attack',
   'Fecha de lanzamiento': '2004-12-31',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'One Man Band',
   'Fecha de lanzamiento': '2005-06-21',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Tin Toy',
   'Fecha de lanzamiento': '1988-08-01',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': "Red's Dream",
   'Fecha de lanzamiento': '1987-08-17',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': "Geri's Game",
   'Fecha de lanzamiento': '1997-11-24',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Knick Knack',
   'Fecha de lanzamiento': '1989-01-01',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Wreck-It Ralph',
   'Fecha de lanzamiento': '2012-11-01',
   'Retorno Total': 2.855896296969697,
   'Costo': 165000000,
   'Ganancia': 471222889.0},
  {'TÃ­tulo': 'Paperman',
   'Fecha de lanzamiento': '2012-11-02',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Monsters University',
   'Fecha de lanzamiento': '2013-06-20',
   'Retorno Total': 3.717798035,
   'Costo': 200000000,
   'Ganancia': 743559607.0},
  {'TÃ­tulo': 'Monsters University',
   'Fecha de lanzamiento': '2013-06-20',
   'Retorno Total': 3.717798035,
   'Costo': 200000000,
   'Ganancia': 743559607.0},
  {'TÃ­tulo': 'Toy Story of Terror!',
   'Fecha de lanzamiento': '2013-10-15',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Frozen',
   'Fecha de lanzamiento': '2013-11-27',
   'Retorno Total': 8.494793393333333,
   'Costo': 150000000,
   'Ganancia': 1274219009.0},
  {'TÃ­tulo': 'La luna',
   'Fecha de lanzamiento': '2011-01-01',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Mater and the Ghostlight',
   'Fecha de lanzamiento': '2006-07-27',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Tangled Ever After',
   'Fecha de lanzamiento': '2012-01-13',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Planes: Fire & Rescue',
   'Fecha de lanzamiento': '2014-07-17',
   'Retorno Total': 3.02331574,
   'Costo': 50000000,
   'Ganancia': 151165787.0},
  {'TÃ­tulo': 'Big Hero 6',
   'Fecha de lanzamiento': '2014-10-24',
   'Retorno Total': 3.9521542,
   'Costo': 165000000,
   'Ganancia': 652105443.0},
  {'TÃ­tulo': 'Small Fry',
   'Fecha de lanzamiento': '2011-11-23',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Secret of the Wings',
   'Fecha de lanzamiento': '2012-08-17',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Tinker Bell and the Lost Treasure',
   'Fecha de lanzamiento': '2009-09-03',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Partysaurus Rex',
   'Fecha de lanzamiento': '2012-09-14',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': "The Legend of Mor'du",
   'Fecha de lanzamiento': '2012-01-01',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Get a Horse!',
   'Fecha de lanzamiento': '2013-11-27',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Frozen Fever',
   'Fecha de lanzamiento': '2015-03-09',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Tinker Bell and the Legend of the NeverBeast',
   'Fecha de lanzamiento': '2014-12-12',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Tinker Bell and the Pirate Fairy',
   'Fecha de lanzamiento': '2014-02-13',
   'Retorno Total': inf,
   'Costo': 0,
   'Ganancia': 20300000.0},
  {'TÃ­tulo': 'Tinker Bell and the Great Fairy Rescue',
   'Fecha de lanzamiento': '2010-08-13',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Tinker Bell',
   'Fecha de lanzamiento': '2008-10-27',
   'Retorno Total': 0.0,
   'Costo': 48000000,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Inside Out',
   'Fecha de lanzamiento': '2015-06-09',
   'Retorno Total': 4.90063528,
   'Costo': 175000000,
   'Ganancia': 857611174.0},
  {'TÃ­tulo': 'The Good Dinosaur',
   'Fecha de lanzamiento': '2015-11-14',
   'Retorno Total': 1.89672084,
   'Costo': 175000000,
   'Ganancia': 331926147.0},
  {'TÃ­tulo': 'Prep & Landing',
   'Fecha de lanzamiento': '2009-12-24',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Feast',
   'Fecha de lanzamiento': '2014-11-07',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Lava',
   'Fecha de lanzamiento': '2015-06-21',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': "Sanjay's Super Team",
   'Fecha de lanzamiento': '2015-11-25',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Zootopia',
   'Fecha de lanzamiento': '2016-02-11',
   'Retorno Total': 6.825227966666667,
   'Costo': 150000000,
   'Ganancia': 1023784195.0},
  {'TÃ­tulo': 'Finding Dory',
   'Fecha de lanzamiento': '2016-06-16',
   'Retorno Total': 5.142854445,
   'Costo': 200000000,
   'Ganancia': 1028570889.0},
  {'TÃ­tulo': 'Piper',
   'Fecha de lanzamiento': '2016-06-16',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'How to Hook Up Your Home Theater',
   'Fecha de lanzamiento': '2007-12-21',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Tick Tock Tale',
   'Fecha de lanzamiento': '2010-06-10',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Air Mater',
   'Fecha de lanzamiento': '2011-08-04',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': "Riley's First Date?",
   'Fecha de lanzamiento': '2015-11-03',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Moana',
   'Fecha de lanzamiento': '2016-11-23',
   'Retorno Total': 4.28689644,
   'Costo': 150000000,
   'Ganancia': 643034466.0},
  {'TÃ­tulo': 'Inner Workings',
   'Fecha de lanzamiento': '2016-11-23',
   'Retorno Total': 0.0,
   'Costo': 0,
   'Ganancia': 0.0},
  {'TÃ­tulo': 'Cars 3',
   'Fecha de lanzamiento': '2017-06-15',
   'Retorno Total': 2.000971754285714,
   'Costo': 175000000,
   'Ganancia': 350170057.0}]}